*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    background-color: rgb(25, 25, 25);
    align-items: center;
    box-shadow: 1px 1px 99px rgb(14, 14, 14);
    height: 56px;
    justify-content: space-between;
    padding: 0 10%;
}
.navigation{
    display: flex;
    background-color: rgb(25, 25, 25);
    align-items: center;
    gap: 48px;
    animation-duration: 1s;
    z-index: 2;
}
.navigation a{
    text-decoration: none;
    color:rgb(225, 225, 225);
    transition: 1s;
    font-weight: bold;
}
.navigation a:hover{
    color:rgb(225, 225, 225);
    text-shadow: #dcb146 0px 0px 5px, #946e0e 0px 0px 10px;
}
.fundo{
    position: absolute;
    background-color: rgba(40, 40, 40, 0.5);
    height: 100%;
    width: 100%;
}
.conteudo{
    padding-top: 3%;
    padding-left: 3%;
    max-block-size: 100%;
    text-align: justify;
    max-height: 100%;
    max-width: 60%;
}

.buttonheader{
    display: none;
    background-color: transparent;
    border: none;
    color: rgb(225, 225, 225);
    cursor: pointer;
}
.active{
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    padding: 18.7px;
}

#logo{
    width:75px;
}

h1:hover{
    text-shadow: #12638f 0px 0px 5px, #46c2de 0px 0px 10px;
    transition: .4s;
    cursor:default;
}
#listaconteudos{
    padding-top: 3%;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
}
#listaconteudos a{
    text-decoration: underline;
    color: white;
}
#ilustration{
    position: absolute;
    margin-left: 50%;
    border: 5px;
    border-radius: 15px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.75);
}
#conteudo p {
    max-width: 70%;
    display: flex;
}
.conteudohome{
    text-align: justify;
    padding-top: 3%;
    padding-left: 3%;
    max-height: 100%;
    max-width: 55%;
}
@media screen and (max-width:1900px){
    .buttonheader{
        display: block;
    }
    .navigation{
        position:fixed;
        flex-direction: column;
        top: 0;
        background-color: rgb(30, 30, 30);
        height: 100%;
        width: 35vw;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    body {
        background-image: url(Fundos/BACKGROUND\ PRINCIPAL.jpg); 
        background-size: 5000px;
        background-position: center;
    }
}

@keyframes showSidebar {
    from{margin-left: -100vw;}
    top{margin-left: -10vw;}
}
